<html>
<title>test login page </title>
<h1>this is my first login page </h1>
<body>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Register</title>
          
    </head>  
    <body> 
    <div>
    <form>
    <table>
    <tr>
     <td>
       <a th:href="@{/profile}"><span th:text="${user}"></span></a>
     </td>
                </tr>  
            </table>  
        </form>  
        </div>
    </body>  
</html>
</body>
</html>