<html>
<title>test login page </title>
<h1>this is my first login page </h1>
<body>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Register</title>  
    </head>  
    <body> 
    <div>  
        <form  th:action="@{/profile/addNewAddress}"  th:object="${address}" method="post">  
            <table> 
                 
                <tr>  
               <td> <input hidden="hidden" name="id" th:value="${address.id}"/></td>
               <td> <input hidden="hidden" name="id" th:value="${address.user}"/></td>
               
                    <td><label for="division">City</label></td>  
                    <td><input th:value="${address.division}" type="text" name="division"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="lastName">Distric</label></td>  
                    <td><input th:value="${address.distric}"  type="text" name="distric"></input></td>  
                </tr> 
                
                <tr>  
                    <td><label for="userName">Upazila</label></td>  
                    <td><input  th:value="${address.upazila}"  type="text" name="upazila"></input></td>  
                </tr> 
                 <tr>  
                    <td><label for="others">Area</label></td>  
                    <td><input  th:value="${address.others}"  type="text" name="others"></input></td>  
                </tr> 
                <tr>  
                    <td><label for="type">Type</label></td>  
                    <td><input  th:value="${address.type}"  type="text" name="type"></input></td>  
                </tr> 
                

                <tr>  
                    <td><input type="reset" value="Clear"/></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
        </div>
        <div>
 
        </div>
    </body>  
</html>