<!doctype html><html class=no-js lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <meta charset=utf-8>
        <meta http-equiv=x-ua-compatible content="ie=edge">
        <title>BDB</title>
        <link rel=stylesheet href=/css/vendor.css>
        <link rel=stylesheet href=/css/style.css>
        <link rel=stylesheet href=/fonts/font-awesome/css/font-awesome.css>  
        
       
    </head>
    <body>
        <div id=page-start-anchor></div>
        <section class="header">
            <div class="header-main bg-inverse fixed-top bg-white">
                <div class=container>
                    <div class=row>
                            <nav class="navbar navbar-expand-lg navbar-light w-100" id=header-navbar>
                            <a class="navbar-brand font-weight-bold" th:href="@{/}" style='text-shadow: 1px 4px 6px red'>Blood Donate Bangladesh</a>
                            <button class=navbar-toggler type=button data-toggle=collapse data-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation"><span class=navbar-toggler-icon></span></button>
                            <div class="collapse navbar-collapse" id=navbarSupportedContent>
                                <ul class="navbar-nav ml-auto">
                                    <li class=nav-item>
                                        <a class="nav-link text-uppercase" data-toggle=none th:href="@{/}">HOME</a>
                                    </li>
                                    <li class=nav-item><a class="nav-link text-uppercase" data-toggle=none th:href="@{/profile/home}">PROFILE</a>
                                </li>
                                <li class=nav-item>
                                    <a class="nav-link text-uppercase" data-toggle=none th:href="@{/member/all}">VIEW MEMBER</a>
                                </li>
                            </ul>
                            <div class=navbar-spacer></div><a class="btn btn-outline-info text-nowrap" href='#' data-toggle=none>LOGIN</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="hero hero-fullscreen jarallax" data-speed=0.2 style="min-height: calc(100vh - 260px)">
        <div class="hero-background">
            <img src=/images/donate-4.jpg alt="hero background" class=jarallax-img>
        </div>
        <div class="hero-foreground d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
                <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-70" style="width: 900px;height: auto;">
                    <div class="card-body text-body p-10 p-lg-20">  <h2 class="text-black text-center fs-6 fs-md-9 fs-lg-8 lh-lg-12" style='text-shadow: 4px 4px 5px black'>Donar Post</h2>
                        <hr>
                       <!-- th:classappend="${classActiveOrders}? 'show active'" sec:authorize="hasAuthority('ROLE_USER') --> 
                        <div class="row" >
                            <div class="col-6 mx-5">
                                <img class="img-thumbnail " th:src="@{/images/user/}+${user.id}+'.png'" alt="donor Pic">
                            </div>
                            <div class="col-4 fs-4 my-5 mx-5">
                            <form >
                                <p style='font-weight: 800;text-align: left;'>Name: <span style='font-weight:100; font-style: italic;'th:text="${user.firstName}"></span><span style='font-weight:100; font-style: italic;' th:text="${user.lastName}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>Email: <span style='font-weight:100; font-style: italic;'th:text="${user.email}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>Blood Group: <span style='font-weight:100; font-style: italic;'th:text="${user.bloodGroup}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>phone: <span style='font-weight:100; font-style: italic;'th:text="${user.phone}"></span></p>
                               
                                
                                <button class="btn btn-outline-danger" style='width: 300px;padding: 3%; '>Edit</button>
                               
                                            <a th:href="@{/profile/updateaddress(id=${user.address.id})}"><span >Edit</span></a>
                                       
                                </form>
                                
                                
                            </div>
                            <div>
                            <form >
                            <p style='font-weight: 800;text-align: left;'>Distric: <span style='font-weight:100; font-style: italic;'th:text="${user.address.distric}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>City: <span style='font-weight:100; font-style: italic;'th:text="${user.address.division}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>UpaZila: <span style='font-weight:100; font-style: italic;'th:text="${user.address.upazila}"></span></p>
                                <p style='font-weight: 800;text-align: left;'>Aria: <span style='font-weight:100; font-style: italic;'th:text="${user.address.others}"></span></p>
                                
                            </form>   
                            </div>
                            
                        </div>
                        <div class="row">

                            <div class="col-6 mx-5">
                                <button class="btn btn-outline-dark btn-sm" style='padding: 5px;margin: 20px'>Add Address</button>
                                 <button class="btn btn-outline-dark btn-sm" style='padding: 5px'>Change Password</button>
                            </div>
                            
                        </div>
                         <hr>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176058743-1"></script><script>window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-176058743-1');</script><script src=/js/vendor.js></script><script src=/js/polyfills.js></script>
    <script src=/js/app.js></script>
</body>
</html>